<div class="row">
  <div class="col-6">
    <div class="d-flex justify-content-center align-items-center align-middle card-container">
      <mat-card class="pointer" (click)="navigateToAccountHolders()">
        <mat-card-content>
          <h2>Titulares de cuentas corrientes</h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-6">
    <div class="d-flex justify-content-center align-items-center align-middle card-container">
      <a [href]="'https://tecso-exam-ef.herokuapp.com/api/swagger-ui.html'" target="_blank">
        <mat-card class="pointer">
          <mat-card-content>
            <h2>Ir a a la documentacion de la api</h2>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
