table {
  width: 100%;
  padding: 20px;
}

.mat-column-foundationYear {
  width: 20%;
}


.mat-column-util {
  width: 21%;
}

.bordered {
  margin: 5px;
  padding: 5px;

}

.icon {
  font-size: 20px;
}
